@font-face {
  font-family: ubuntu;
  src: url(fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf);
}

body {
  font-family: ubuntu;
  margin: 0;
  display: grid;
  background-color: #f5f5f5;
}



* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

 /* For mobile phones: */
[class*="col-"] {
  width: 100%;
  padding: 2px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-phone-1 {width: 8.33%;}
  .col-phone-2 {width: 16.66%;}
  .col-phone-3 {width: 25%;}
  .col-phone-4 {width: 33.33%;}
  .col-phone-5 {width: 41.66%;}
  .col-phone-6 {width: 50%;}
  .col-phone-7 {width: 58.33%;}
  .col-phone-8 {width: 66.66%;}
  .col-phone-9 {width: 75%;}
  .col-phone-10 {width: 83.33%;}
  .col-phone-11 {width: 91.66%;}
  .col-phone-12 {width: 100%;}
  
  [class*="col-phone-"] {
    float: left;
    padding: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-tablet-1 {width: 8.33%;}
  .col-tablet-2 {width: 16.66%;}
  .col-tablet-3 {width: 25%;}
  .col-tablet-4 {width: 33.33%;}
  .col-tablet-5 {width: 41.66%;}
  .col-tablet-6 {width: 50%;}
  .col-tablet-7 {width: 58.33%;}
  .col-tablet-8 {width: 66.66%;}
  .col-tablet-9 {width: 75%;}
  .col-tablet-10 {width: 83.33%;}
  .col-tablet-11 {width: 91.66%;}
  .col-tablet-12 {width: 100%;}
    
  [class*="col-tablet-"] {
    float: left;
    padding: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
    
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 




article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

header {
  background: blue;
  padding: 16px;
}

main {
  width: 100%;
  padding: 16px;
  margin-right: auto;
  margin-left: auto;
}
/*
@media (min-width: 576px) {
  main {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  main {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  main {
    max-width: 1140px;
  }
}
*/

.cell {
  width: 100%;
  padding: 16px;
  background: white;
}

input {
  max-width: 100%;
}

footer {
  background: red;
  padding: 16px;
}

.shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}















